.image-accordion {
  padding: 50px;
  background-color: rgb(91, 90, 90);
  display: flex;
  overflow: hidden;
  height: 700px; /* Adjust height as needed */
}

.image-accordion-item {
  margin: 10px;
  border-radius: 15px;
  flex: 1;
  transition: flex 0.5s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.image-accordion-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.image-accordion-item .content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  text-align: center;
  display: none;
}

.image-accordion-item:hover,
.image-accordion-item.active {
  flex: 5;
}

.image-accordion-item:hover .content,
.image-accordion-item.active .content {
  display: block;
}

.image-accordion-item:not(.active) {
  flex: 1;
}














/* .rgallery {
    text-align: center;
  }
  
  .rgalleryHeading {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .rcarousel {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .imageContainer {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  .reach_img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
    opacity: 1;
  }
  
  .reach_img.hidden {
    opacity: 0;
  }
  
  .prevButton,
  .nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem;
    z-index: 10;
  }
  
  .prevButton {
    left: 0;
  }
  
  .nextButton {
    right: 0;
  }
  
  .prevButton:hover,
  .nextButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
   */