*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container-team{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body-team{
    padding-top:8rem;
    margin-bottom:4rem;
}

.heading-team{
    display: contents;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    color: rgb(16, 191, 197);
    font-size: 55px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
}

.coloured-line-team {
    text-align: center;
    border-top: rgb(16, 191, 197) 3px solid;
    width: 45px;
    margin-left: calc(50% - 15px);
    margin-top: -2.5px;
}

.grey-line-team {
    text-align: center;
    border-top: #ddd 1px solid;
    height: 1px;
    width: 120px;
    margin-left: calc(50% - 55px);
    z-index: -1;
}

.teamheading-team{
    color: rgb(16, 191, 197);
    display: inline-block;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    font-size:28px;
    font-weight: 520;
    margin-top:70px;
    margin-bottom:40px;
    padding-left:8px;
    border-left:5px solid sandybrown;
 }
 
.head-team{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}

.each-year-team{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    gap: 1.5rem; 
}

@media (max-width: 520px){
    .members-team{
        width: 500px;
        flex-direction: column;
    }
}