@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0; /* Ensure the image stays behind the overlay */
}

.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Blackish overlay with 50% opacity */
    z-index: 1; /* Make sure the overlay is above the image */
}



.about-us-section{
  background-image: url('/public/eventwhitehome.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  image-resolution: high;
  background-position: center;
  padding: 50px 20px;
}

.about-us-section {
    padding: 80px 60px;
    align-items: center;
    text-align: center;
}
  
.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}
  
.section-title .title1 {
    color: rgb(0, 0, 0); 
    padding-bottom: 5px;
  }

  .section-title .title2 {
    color: rgb(16, 191, 197);
    padding-bottom: 5px;
  }
  
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    margin-top: 60px;
}
  
@media (max-width: 1200px) {
  .content {
      flex-direction: column;
      gap: 30px;
  }
}

@media (max-width: 768px) {
  .column {
      max-width: 100%;
  }
}

.column {
    max-width: 500px;
    text-align: left;
}
  
.column h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.column h2 span {
    color: rgb(16, 191, 197);
}
  
  .column p, .column ul {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
  }
  
  .column ul {
    list-style-type: disc;
    padding-left: 30px;
  }
  
  .column ul li {
    margin-bottom: 5px;
  }

.event-home-section{
  background-image: url('https://wallpaperbat.com/img/746784-l242nnn-information-technology-wallpaper-background-tech-hd-wallpaper-background-download.png');
  background-size: cover;
  image-resolution: high;
  background-position: center;
  padding-top: 60px;
  padding-bottom: 50px;
}

.team-home-section {
  background-image: url('/public/teamsection.jpg');
  background-attachment: fixed;
  background-size: cover;
  image-resolution: high;
  background-position: center;
  padding: 50px 80px;
}

.section-title-team {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 80px;
}

.section-title-team .title1 {
  color: rgb(255, 255, 255); 
  padding-bottom: 5px;
}

.section-title-team .title2 {
  color: rgb(16, 191, 197);
  padding-bottom: 5px;
}

.slick-slide>div {
  padding: 0 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slick-slide {
  padding: 0 5px; 
}

@media (max-width: 1200px) {
.slick-slide {
  padding: 0 30px; 
}
}

@media (max-width: 1000px) {
.slick-slide {
  padding: 0 50px; 
}
}

@media (max-width: 800px) {
.slick-slide {
  padding: 0 0px; 
}
}




.type--A{
  --line_color : #fffefe ;
  --back_color : #b9b9b9  ;
}
.button{
    position : relative ;
    z-index : 0 ;
    width : 240px ;
    height : 56px ;
    text-decoration : none ;
    font-size : 14px ; 
    font-weight : bold ;
    color : var(--line_color) ;
    letter-spacing : 2px ;
    transition : all .3s ease ;
}
.button__text{
    display : flex ;
    justify-content : center ;
    align-items : center ;
    width : 100% ;
    height : 100% ;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after{
    content : '' ;
    position : absolute ;
    height : 3px ;
    border-radius : 2px ;
    background : var(--line_color) ;
    transition : all .5s ease ;
}
.button::before{
    top : 0 ;
    left : 54px ;
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button::after{
    top : 0 ;
    right : 54px ;
    width : 8px ;
}
.button__text::before{
    bottom : 0 ;
    right : 54px ;
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__text::after{
    bottom : 0 ;
    left : 54px ;
    width : 8px ;
}
.button__line{
    position : absolute ;
    top : 0 ;
    width : 56px ;
    height : 100% ;
    overflow : hidden ;
}
.button__line::before{
    content : '' ;
    position : absolute ;
    top : 0 ;
    width : 150% ;
    height : 100% ;
    box-sizing : border-box ;
    border-radius : 300px ;
    border : solid 3px var(--line_color) ;
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before{
    left : 0 ;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before{
    right : 0 ;
}
.button:hover{
    letter-spacing : 6px ;
}
.button:hover::before,
.button:hover .button__text::before{
    width : 8px ;
}
.button:hover::after,
.button:hover .button__text::after{
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__drow1,
.button__drow2{
    position : absolute ;
    z-index : -1 ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
}
.button__drow1{
    top : -16px ;
    left : 40px ;
    width : 32px ;
    height : 0;
    transform : rotate( 30deg ) ;
}
.button__drow2{
    top : 44px ;
    left : 77px ;
    width : 32px ;
    height : 0 ;
    transform : rotate(-127deg ) ;
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after{
    content : '' ;
    position : absolute ;
}
.button__drow1::before{
    bottom : 0 ;
    left : 0 ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -60deg ) ;
}
.button__drow1::after{
    top : -10px ;
    left : 45px ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( 69deg ) ;
}
.button__drow2::before{
    bottom : 0 ;
    left : 0 ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -146deg ) ;
}
.button__drow2::after{
    bottom : 26px ;
    left : -40px ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -262deg ) ;
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after{
    background : var( --back_color ) ;
}
.button:hover .button__drow1{
    animation : drow1 ease-in .06s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow1::before{
    animation : drow2 linear .08s .06s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow1::after{
    animation : drow3 linear .03s .14s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2{
    animation : drow4 linear .06s .2s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2::before{
    animation : drow3 linear .03s .26s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2::after{
    animation : drow5 linear .06s .32s ;
    animation-fill-mode : forwards ;
}
@keyframes drow1{
    0%   { height : 0 ; }
    100% { height : 100px ; }
}
@keyframes drow2{
    0%   { width : 0 ; opacity : 0 ;}
    10%  { opacity : 0 ;}
    11%  { opacity : 1 ;}
    100% { width : 120px ; }
}
@keyframes drow3{
    0%   { width : 0 ; }
    100% { width : 80px ; }
}
@keyframes drow4{
    0%   { height : 0 ; }
    100% { height : 120px ; }
}
@keyframes drow5{
    0%   { width : 0 ; }
    100% { width : 124px ; }
}

.container{
  margin-top: 25px;
    width : 100% ;
    height : 56px ;
    display : flex ;
    flex-direction : column ;
    justify-content : center ;
    align-items : center ;
}
