.all-pages_footer {
  width: 100%;
  position: relative;
  background-color: #FBFCFC;
  border-top: 1px solid #ccc;
  color: black;
  padding-top: 10px;
  font-size: 13px;
  line-height: 20px;
}

.footer-cols {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.col h3 {
  width: fit-content;
  margin-bottom: 25px;
  position: relative;
  font-size: 23px;
}

.col p {
  width: fit-content;
  position: relative;
}

.col a .fa:hover {
  color: rgb(16, 191, 197);
}

.col ul {
  width: fit-content;
  text-align: left;
  position: relative;
  padding-left: 0;
}

.col ul li {
  list-style: none;
  display: flex;
  color: rgb(0, 0, 0);
  font-weight: 450;
  font-size: 16px;
}
.col ul li a {
  text-decoration: none;
  color: white;
}

.col {
  padding-top: 15px;
}

.col-logo{
  flex-basis: 25%;
}

.col-contact{
  flex-basis: 30%;
}

.col-link{
  flex-basis: 20%;
}

.col-social{
  flex-basis: 25%;
}

.copyRight {
  display: flex;
}

.col ul li a:hover {
  font-weight: 600;
  color: rgb(16, 191, 197);
}
.col ul li a {
  color: rgb(0, 0, 0);
  font-weight: 540;
  font-size: 18px;
  margin-bottom: 10px;
}

.col a .fa {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: black;
  border: 1px solid #ccc;
  margin-right: 15px;
  cursor: pointer;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}
.copyRight {
  text-align: center;
}
.underline {
  width: 65%;
  height: 3px;
  border-radius: 15px;
  background: rgb(16, 191, 197);
  border: 3px;
  position: absolute;
  top: 30px;
  left: 0;
  overflow: hidden;
}

@media (max-width: 700px) {
  footer {
    bottom: unset;
  }
  .all-pages_footer {
    height: 44rem;
    position: relative;
  }
  .col {
    flex-basis: 100%;
  }
  .col:nth-child(2),
  .col:nth-child(3) {
    flex-basis: 100%;
  }
  .footer-cols {
    position: relative;
    bottom: 18px;
  }
  .col .logo{
    display: flex;
  }
  hr {
    position: absolute;
    bottom: 49px;
  }
  .rcopyRight {
    position: absolute;
    bottom: 0;
    left: 34px;
  }
}
